## Default
.DS_Store
.idea
*.log
tmp/

## python
*.egg
build
htmlcov
__pycache__/
constantes.py

## emacs autocomplete
.auctex-auto/

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
